@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@main-clr:#413c69;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
   box-sizing: border-box;
   scroll-behavior:smooth;
}

body{
   background-color: #d97642;
}

#main{
    background-color:@main-clr;
    font-family: 'RocknRoll One', sans-serif;
    text-align: center; 
    margin: 3rem auto;
    padding-bottom: 4rem;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px #000000;
    width: 95%;
    @media only screen and (min-width: 1024px) and (max-width: 1920px) {
        width: 50%;
    }
    
    h1{
        margin: 3rem 0;
        padding-top: 1.5rem;
        letter-spacing: 0.3rem;
        color: #d49d42;
        font-weight: bold;
        font-size: 2.5rem;
    }
}


#container{
    display: grid;
    width: 20rem;
    height: 20rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 0 auto;

    .square{
        border: 5px solid #e4fbff;
        border-right: none;
        border-bottom: none;
        color: #e4fbff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        user-select: none;

        &:hover{
            background-color:#d97642;
            cursor: pointer;
        }
    }

    [id="8"],[id="1"],[id="6"]{
        border-top: none;
    }
        
    [id="8"],[id="3"],[id="4"]{
            border-left: none;
     }
}


.disableClick{
    pointer-events: none;
    
}


// @keyframes fade{

// }
