body{
    background-color:#26001b;
}

#container{
    display: grid;
    width: 30rem;
    height: 30rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    position: relative;

    margin: 3rem;
}

.square{
    border: 3px solid #e4fbff;
    color: #e4fbff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    user-select: none;
}

.square:hover{
    background-color:#ff005c;
    cursor: pointer;
}

.disableClick{
    pointer-events: none;
}