@font-face {
  font-family: 'RocknRoll One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rocknrollone/v1/kmK7ZqspGAfCeUiW6FFlmEC9guU.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #d97642;
}
#main {
  background-color: #413c69;
  font-family: 'RocknRoll One', sans-serif;
  text-align: center;
  margin: 3rem auto;
  padding-bottom: 4rem;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px #000000;
  width: 95%;
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  #main {
    width: 50%;
  }
}
#main h1 {
  margin: 3rem 0;
  padding-top: 1.5rem;
  letter-spacing: 0.3rem;
  color: #d49d42;
  font-weight: bold;
  font-size: 2.5rem;
}
#container {
  display: grid;
  width: 20rem;
  height: 20rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
}
#container .square {
  border: 5px solid #e4fbff;
  border-right: none;
  border-bottom: none;
  color: #e4fbff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  user-select: none;
}
#container .square:hover {
  background-color: #d97642;
  cursor: pointer;
}
#container [id="8"],
#container [id="1"],
#container [id="6"] {
  border-top: none;
}
#container [id="8"],
#container [id="3"],
#container [id="4"] {
  border-left: none;
}
.disableClick {
  pointer-events: none;
}
